@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root{
    --hero-height: 40vh;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: var(--hero-height);
    background-color: aqua;
    background-image: url('src/assets/ice-cream.png');
    background-position: center center;
    background-size: cover;
    transform: translate(0,-20%);
}

.hero::after{
    content: " ";
    position: absolute;
    z-index: 1;
    background-color: #1f1f1f46;
    width: 100%;
    height: 100%;
}

.hero-title{
    text-align: center;
    position: absolute;
    z-index: 6;
    color: #fff;
    font-family: 'Monoton', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-transform: capitalize;
}

@media (min-width: 880px) {
    .hero-title{
        font-size: 5rem;
    }
    :root{
        --hero-height: 50vh;
    }
}