.order-detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.order-state {
    text-align: center;
    color: var(--white-color);
    font-size: 1.3rem;
    border-radius: 50px;
    border: 2px solid var(--dark-font-color);
    background: var(--purple-color);
}

.order-identification {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
}

.order-id {
    &::before {
        content: '# ';
    }

    font-size: 1.3rem;
    font-weight: bold;
}

.order-date-time {
    text-align: end;

    p {
        font-size: 0.8rem;
    }
}

.order-cost {
    p:last-of-type {
        &::before {
            content: '$ ';
        }
    }

    display: flex;
    justify-content: space-between;
}