.product-slide-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    height: 350px;
}

.product-slide-container-vertical {
    display: grid;
    padding: 1rem 0;
    height: max-content;
}

.slide-title{
    padding: 1rem;
    font-size: 1.6rem;
}

.products-list{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar{
        display: none;
    }
}

.products-list-vertical {
    padding: 0rem 1rem;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    list-style: none;
    overflow: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar{
        display: none;
    }
}


.product-item{
    min-width: 220px;
    height: 100%;
    scroll-snap-align: center;
}

.product-item-vertical {
    display: flex;
    justify-content: center;
    min-width: 220px;
    max-height: 245px;
    scroll-snap-align: center;
}