.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(calc(-10%));
    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 250ms, visibility 250ms;
}

.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateX(calc(168px + 70%));
    transition: transform 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 250ms, visibility 250ms;
}

.modal-account {
    position: fixed;
    top: 8vh;
    background-color: var(--pink-color);
    flex-direction: column;
    width: 168px;
    height: max-content;
    border-radius: 10px;
    border: 1px solid var(--dark-font-color);
    z-index: 4;
}

.act-button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: color 250ms;
    padding: 16px 16px;
    padding-left: 8px;
    border-radius: 10px;

    :first-child {
        transition: color 250ms;
    }

}

.top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.act-button:hover {
    color: var(--white-color);

    :first-child {
        color: var(--white-color);
    }
}