.product-card-container{
    height: 100%;
    width: 100%;
    padding: 1.5rem;
}
.product-card{
    width: auto;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #00000068);
}

.product-img-container{
    position: relative;
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 60% 0;
    background-color: var(--yellow-color);
}

.product-price{
    display: flex;
    position: absolute;
    font-size: .9rem;
    background-color: var(--pink-color);
    width: 40%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top:0;
    right: 0;
    transform: translate(30%,-30%);
    
    &::after{
        content: '';
        position: absolute;
        height: 30%;
        width: 50%;
        background-color: var(--pink-color);
        bottom: -5px;
        left: -5px;
        clip-path: polygon(36% 0, 0% 100%, 100% 21%);
    }
    &::before{
        content: '$';
    }
}

.product-img{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: contain;
}

.product-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: .5rem 0;
}
.product-title{
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    background-color: var(--blue-color);
    font-weight: 600;
    padding: .1rem .3rem;
}

.product-description{
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
    padding: .2rem .3rem;
    font-size: .8rem;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}