.footer-container{
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 10%;
    background-color: #472020;
}

.social-media-icon{
    display: flex;
    height: 100%;
    color: var(--white-color);
    text-decoration: none;
}