.fridge-title {
    padding: 1rem;
    padding-top: 0;
    font-size: 1.6rem;
}

.fridge-page {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 2rem;
    padding: 1rem;
    height: 27rem;
    justify-items: center;
}

.fridge-pdts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 24rem));
    column-gap: 2rem;
    row-gap: 2rem;
    overflow-y: auto;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 700px) {
    .fridge-page {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        row-gap: 1rem;
        height: 35rem;
    }
}